<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-weight-bold">Reviews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#"><%= link_to "Home", sessions_new_path %></a>
      <a class="nav-item nav-link active"><%= link_to "User Page", user_path(session[:id])%></a>
    </div>
  </div>
</nav>

<br>

<ul>

<h2><% @reviews.reverse.each do |review|%>
    <li>
        Restaurant Review: <%= link_to review.restaurant.name, review_path(review)%>
        Written by: <%= review.user.name%>
            <div>
                <small>
                    Submitted <%= time_ago_in_words(review.created_at) %> ago
                </small>
            </div>
<br>
    </li>
<%end%>

</h2>

<h3>
    <%=button_to "Leave a review for a restaurant here!", new_review_path, method: :get %>
</h3>
<%= button_to "Log out", logout_path, method: :delete %>
</ul>
